.header-bg {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    max-width: 1280px;
    width: 100%;
    height: 324px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul {
    display: flex;
}

.logo {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 140px;
}

.li {
    margin-top: 20px;
    margin-right: 30px;
}

.a-li {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.text {
    display: flex;
    justify-content: left;
    margin-left: 140px;
    margin-top: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: bold;
}

.text-2 {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
    margin-top: 15px;
    
}

.home {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-right: 10px;
}

.divider {
    height: 15px;
    width: 2px;
    background-color: white;
}

.contact {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 10px;
}

.map {
    display: flex;
    width: 1234px;
    justify-content: center;
    
}

.map-pic {
    width: 1088px;
    height: 286px;
    padding-top: 50px;
}

.contact-h4 {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 73px;
}

.h4-contact {
   color: #5863F8;
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: bold;
   padding-bottom: 10px;
   
}
.contact-us {
   font-family: 'Poppins', sans-serif;
   font-size: 42px;
   font-weight: bold;

}

.free-support {
   font-family: 'Poppins', sans-serif;
   font-size: 42px;
   font-weight: bold;
   padding-top: 10px;
}


.contact-info {
    display: flex;
    width: 1234px;
    justify-content: center;
    margin-top: 60px;

}


.description {
    width: 720px;
    height: 288px; 
    background-color: #F8F8F8;  
    border-color: #E8E8E8;
  
}

.personal-info {
    display: flex;
    margin-left: 15px;
}

.subject {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;  
    border-color: #E8E8E8;
    margin-bottom: 15px;
}

.name {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;  
    border-color: #E8E8E8;
    margin-bottom: 15px;
}

.email {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;  
    border-color: #E8E8E8;
    margin-bottom: 15px;
}

.send {
    
    width: 352px;
    height: 60px;
    background-color: #5863F8;
    

}

input[.name=send] ::placeholder {
    color: white;
}


.boxes {
    display: flex;
    width: 1234px;
    justify-content: center;
    margin-top: 50px;
   
}

/* .box-info {
    display: flex;
    
} */

.box {
    width: 362px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.round {
    background-color: #5863F8;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.fa-envelope {
    width: 16px;
    height: 16px;
}




